version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "5000:5000"

  mcp:
    build:
      context: .
      dockerfile: Dockerfile.mcp
    ports:
      - "3333:3333"

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    ports:
      - "5678:5678"

    volumes:
      - n8n_data:/home/node/.n8n

volumes:
  n8n_data: